#map { height: 900px;
width: 80%;
left: 350px; }

#dates { position: fixed;
    left: 0;
    top: 40px;
    height: 200px;
    width: 300px;
    left: 30px; 
    text-align: center;
    border: 2px solid #1C6EA4;
    -webkit-border-radius: 10px;
    border-radius: 10px;}

.date_box{
    left: 0;
    width: 200px;
    
}
#prices { position: fixed;

    top: 300px;
    height: 300px;
    width: 300px;
    left: 30px; 
    
    border: 2px solid #1C6EA4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#prices h2 {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
    left: 0px;
}
.prices_box{
    left: 0;
    width: 200px;
    
}
.price_option { 
    padding-left:30px;
}
